body{
    font-family: 'Roboto';
    background-color: rgb(211, 207, 207);
}

.righteous{
    font-family: 'Righteous';
}

.cabeçalho{
    width: 414px;
    height: 92px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.cabeçalho img{
    width: 100%;
    height: 92px;

    display: flex;
    position: absolute;
}
.container{
    width: 414px;
    margin-top: 20px;
}

.texto-mostruario{
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 10px;

    color: #333333;
}

.container-mostruario{
    width: 100%;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
}

.mostruario{
    background-color: #FFFFFF;
    width: 172px;
    height: 140px;
    margin: 10px;
}

.img-mostruario{
    width: 120px;
    height: 87px;
    border-radius: 4px;
}



